/* 该文件配置网站的文字  图标 等等 一系列dom元素的样式文件 */
:root {
    /* 通过配置 自定义颜色 */
    --vp-home-hero-name-color: transparent;
    /* 主页标题文字的颜色  */
    --vp-home-hero-name-background: -webkit-linear-gradient(-45deg, #47caff  50%, #ee96dc 50%);;
  
    /* 主页左侧背景添加渐变光圈 */
    --vp-home-hero-image-background-image: linear-gradient(135deg, #ee96dc 50%, #47caff  50%);
    --vp-home-hero-image-filter: blur(100px);
  
  
    /* botton按钮 */
    /* --vp-button-brand-border: #81634b; */
    /* 按钮文本颜色 */
    --vp-button-brand-text: #ffffff;
    /* 按钮背景颜色 */
    --vp-button-brand-bg: #ee96dc;
  
  /*#00FFEE*/
    /* 鼠标悬停的效果之后的样式 */
    --vp-button-brand-hover-border: #47caff;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #47caff;
  
    --vp-button-brand-active-border: #47caff;
  
    /* 主题基色 */
    --vp-c-brand: #ee96dc;
    /* 白色模式 主题基色 */
    --vp-c-brand-light: #bd34fe;
    /* 黑色模式 主题基色 */
    --vp-c-brand-dark: #bd34fe;
  }
  